.about {
    /* background-color: #18315A; */
    background-color: #181818;
    font-family: "sans-serif";
}

.navbar {
    margin-top: 45px;
}

.white {
    color: white;
}

.pink {
    color: #F7415A;
}

.head-tag {
    /* margin-left: 250px; */
    font-size: 25px;
    font-weight: bold;
}

.head-tag:hover {
    color: white;
    font-weight: bold;
}

.margin-right {
    margin-right: 125px;
}

.active {
    color: white !important;
}

.nav-link {
    font-size: 20px;
    color: #b0b4bA;
}

.nav-link:hover {
    color: white;
}

.text-area {
    margin-top: 200px;
}

.text-type-1 {
    color: #B0B4BA;
    font-size: 20px;
    font-weight: bold;
}

.text-type-2 {
    font-weight: bold;
}

.text-type-3 {
    color: #B0B4BA;
    font-size: 25px;
}

.img-resize {
    margin-top: 120px;
    width: 70%;
    height: 90%;
}

.margin-div {
    margin-right: 125px;
    position: fixed;
    bottom: 0;
}

.btn-personalised {
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #F7415A;
    border-color: #F7415A;
}

.btn-personalised:hover {
    background-color: #f8546b;
    color: white;
    border-color: #f8546b;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.vertical-line-left {
    display: block;
    position: fixed;
    bottom: 0;
    border-left: 5px solid white;
    margin: 0px 0px 0px 50px;
    height: 100px;
}

.vertical-line-right {
    display: block;
    position: fixed;
    bottom: 0;
    right: 50px;
    border-left: 5px solid white;
    margin: 0px 0px 0px 0px;
    height: 200px;
}

.right-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #B0B4BA;
    font-size: 15px;
    position: fixed;
    bottom: 195px;
    right: 25px;
}

.vertical-line-text {
    display: block;
    position: absolute;
    bottom: 110px;
    margin: 0px 0px 0px 50px;
}

.project {
    background-color: #181818;
    font-family: "sans-serif";
}

.WORK-HEAD {
    color: #3E3D3C;
    font-weight: bold;
}

.text-area-project {
    margin-top: 100px;
}

.project-item {
    color: #d7d7d7b7;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 20px;
    border: 0px;
}

.project-item:focus {
    outline: none;
}

.project-item:hover {
    color: white;
}

.project-description {
    color: white;
    font-size: 20px;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
